Debug=true
Encoding=UTF-8
WindowsCommanderMode=true
LeerEstructuraXML=true
Files.Convert.Format=
Files.Convert.ImprovedRendering=false
Files.Convert.IncludeMetadata=false
Files.Convert.InterpolationAlgo=
Files.Convert.MaxHeight=-1
Files.Convert.MaxWidth=-1
Files.Filter.Duplicates=true
Files.Filter.Folders=false
Files.Filter.MaxImageDimension=
Files.Filter.Multi=
Files.ForceImageCache=false
Files.KeepImagesCached=false
##Unidades en bytes. 
##El applet juploader lee el recibido del XML para filtrar las imagenes antes de subirlas. 
##Except en USR_GRALES, donde usa tamKB de ConfigPDFModel.java
Files.MaxImageSize=1285760
Files.Preselected=
Files.Thumbnails.Smooth=true
##True para que permita archivos invalidos. Leer manual:
Files.UploadInvalidImages=true
Gui.ContextMenu.Files=AddFolder,Seperator,CopyClipboard,PasteClipboard,Seperator,RenameFile,SaveFiles,DeleteFiles
Gui.ContextMenu.General=ShowInvalids,Options,Seperator,Screenshot,JUploadScreenshot,ScreenshotDelay,Seperator,About
Gui.DeactivateOnUpload=false
Gui.Enabled=true
Gui.FileChooser.DefaultDir=
Gui.FileChooser.Filter.All=false
Gui.FileChooser.Filter.Image=false
Gui.FileChooser.Filter.Multi=PDF e Imagenes||(.*?\.pdf)|(.*?\.jpg)|(.*?\.jpeg)|(.*?\.png)|(.*?\.gif)|(.*?\.bmp)|(.*?\.tif)|(.*?\.tiff),Solo PDF||(.*?\.pdf),Solo Imagenes||(.*?\.jpg)|(.*?\.jpeg)|(.*?\.png)|(.*?\.gif)|(.*?\.bmp)|(.*?\.tif)|(.*?\.tiff)
Gui.FileChooser.Preview.Enabled=true
Gui.FileChooser.Preview.FixedWidth=true
Gui.FileChooser.Preview.Show=false
Gui.FileChooser.Preview.Size=150x150
Gui.FileChooser.Preview.Smooth=false
Gui.FileChooser.Size=640x480
Gui.ImageView.ItemGap=4
Gui.ImageView.ItemSize=136x176
Gui.LF.Background=
Gui.LF.Borders=true
Gui.LF.Classname=skinlf
Gui.LF.Font=
Gui.LF.Foreground=
Gui.LF.OverrideColorsBorders=false
Gui.LF.OverrideFont=true
Gui.LF.SelectedBackground=
Gui.LF.SelectedForeground=
Gui.LF.SkinPackUrl=../skinlf/SinTema.zip
Gui.ServerResponse.AutoShow=true
Gui.ServerResponse.Enable=true
Gui.ServerResponse.Height=100
Gui.Status.BorderColor=#000000
Gui.Status.PanelHeight=70
Gui.Status.ShowBar=true
Gui.Status.ShowPanel=true
Gui.Status.ShowPrepare=true
Gui.Status.ShowSuccessDialog=true
Gui.Toolbar.Buttons=upload
Gui.Views.AutoSelectAddedFiles=false
Gui.Views.Details.Widths=
Gui.Views.Display=tree,list,details,thumbnail
Gui.Views.Icon.MaxHeight=32
Gui.Views.Icon.MaxWidth=32
Gui.Views.Icon.SystemIcons=true
Gui.Views.ShowPaths=false
Gui.Views.Thumbs.Enabled=true
Gui.Views.Tree.MinSize=200x200
ID=jupload0
Locale=afirme
MinJavaVersion=1.4
Upload.Auth.AutoLogin=
Upload.Auth.UserAuthRequired=false
Upload.AutoRemove=false
Upload.Autostart=false
Upload.Http.AdditionalHeaders=
Upload.Http.AdditionalPostFields=
Upload.Http.Auth.Scheme=basic
Upload.Http.Cookies=
Upload.Http.MaxRequestFileCount=-1
Upload.Http.MaxRequestSize=25165824
Upload.Http.Meta.AbsolutePath=false
Upload.Http.Meta.FileTag=files
Upload.Http.Meta.LastModified=true
Upload.Http.Meta.MD5=false
Upload.Http.Method=post
Upload.Http.Query=
Upload.MaxFileSize=-1
Upload.MaxTotalFileCount=-1
Upload.MaxTotalFileSize=-1
Upload.Thumbnails.Enable=false
Upload.Thumbnails.Format=jpg
Upload.Thumbnails.Http.AdditionalHeaders=
Upload.Thumbnails.Http.AdditionalPostFields=
Upload.Thumbnails.Http.Cookies=
Upload.Thumbnails.Http.Query=
Upload.Thumbnails.Http.TagName=thumbnail
Upload.Thumbnails.Size=100x100
Upload.Thumbnails.TargetURL=
WaitForPlugins=