@CHARSET "UTF-8";
.panelCls{
	margin:0 auto;
	margin-top:70px;
}
.panelComponentCls{
	background-color:#e8edf6;
}
.txtActualCls{
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
}
.txtNuevaCls{
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
}
.fieldSetBoton{
	border:none;
	text-align:center;
}
.btnCambiar{
	margin-top:5px;
	margin-bottom:5px;
}
.btnCambiarIconCls{
	background-image:url(../imagenes/iconos/cambiar.png);
}
.fieldSetTextos{
	margin-left:10px;
	margin-right:10px;
}
.panelForm{
	background-color:transparent;
}